<%= include('includes/top.tmpl') %>

<div class="main">
  <div class="tempShareToolsHolder"></div>

  <div class="map-controls"></div>
  <div class="map-header"></div>

  <div class="map-container"></div>

  <div class="map-info"></div>

  <div class="map-key"></div>
</div>

<%= include('includes/bottom.tmpl') %>
