<ul>
  <li class="reset"><a href="#" title="Click to reset the map to original state">Reset</a></li>
  <li class="pan-controls">
    <ul>
      <li class="pan-controls-top"><a href="#" title="Click to pan the map up"></a></li>
      <li class="pan-controls-right"><a href="#" title="Click to pan the map right"></a></li>
      <li class="pan-controls-bottom"><a href="#" title="Click to pan the map down"></a></li>
      <li class="pan-controls-left"><a href="#" title="Click to pan the map left"></a></li>
    </ul>
  </li>
  <li class="close is-hidden"><a title="Click to close">Close</a></li>
  <li class="zoom-in"><a title="Click to zoom the map in">+</a></li>
  <li class="zoom-out"><a title="Click to zoom the map out">-</a></li>
</ul>
